/* Body Styling */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(40deg, #FF6347, #FFEB3B, #00A79D, #FFA4A4, #86D5E0, #2B4A00, #B4A0F9);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
    overflow: hidden;
    position: relative;
}

/* Title styling */
h1 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Mood Buttons Styling */
#mood-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 0 20px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 10;
    font-size: 0.9rem;
}

/* Mood Button Styling */
.mood-btn {
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mood-btn:hover {
    background-color: #FF4500;
}

/* Interactive Area for lines to appear */
#interactive-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

/* Line animations for horizontal movement */
@keyframes lineMovement {
    0% {
        left: -100%;
        top: 0;
        opacity: 0;
    }
    50% {
        left: 50%;
        top: 50%;
        opacity: 1;
    }
    100% {
        left: 100%;
        top: 100%;
        opacity: 0;
    }
}

/* Line animations for vertical movement */
@keyframes verticalLineMovement {
    0% {
        left: 0;
        top: -100%;
        opacity: 0;
    }
    50% {
        left: 50%;
        top: 50%;
        opacity: 1;
    }
    100% {
        left: 100%;
        top: 100%;
        opacity: 0;
    }
}

.line {
    position: absolute;
    background-color: #000;
    z-index: 2;
    animation-fill-mode: forwards;
}

/* Background Animation */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
